<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="Test" parallel="methods">
    <classes>
      <class name="com.tmb.tests.BaseTest"/>
      <class name="com.tmb.tests.HomePageTests"/>
      <class name="com.tmb.tests.LoginPageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
